:root {
	--clp-primary: #202020;
	--clp-secondary: #303030;
	--clp-border: #454545;
}

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	background: var(--clp-primary);
}

body {
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}


a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

b,
strong {
	font-weight: 600;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

svg {
	fill: currentColor;
}

p {
	line-height: 1.6;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

.main-container {
	padding: 0px 0px 60px 0px;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

.btn {
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.9;
}

.btn:hover {
	text-decoration: none !important;
}

.btn-lg {
	padding: 8px 30px;
	line-height: 2.43;
}

.btn-sm {
	padding: 0px 20px;
	font-size: 14px;
}

.btn-md {
	padding: 6px 25px;
	font-size: 14px;
	line-height: 2;
}

.btn-blue {
	color: #ffffff;
	background-color: #267ddd;
	border-radius: 4px;
	border: 0;
}

.btn-blue:focus,
.btn-blue:hover {
	color: #ffffff;
	background-color: #2e87eb;
}

.btn-white {
	color: #777777;
	border-color: #d3d3d3;
	background: #ffffff;
}

.btn-white:focus,
.btn-white:hover {
	color: #777777 !important;
	background-color: #e4e5e6;
	border-color: #d3d3d3;
}

.btn-gray {
	color: #777777;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
}

.btn-gray:focus,
.btn-gray:hover {
	color: #777777;
	background-color: #d4d4d4;
	border-color: #d4d4d4;
}

.btn-red {
	color: #ffffff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-red:focus,
.btn-red:hover {
	color: #ffffff;
	background-color: #dd4b5a;
	border-color: #dd4b5a;
}

.btn-action-dropdown {
	border: 0;
	padding: 8px 10px;
	line-height: 20px;
	border-radius: 50%;
}

.btn-action-dropdown:hover,
.btn-action-dropdown:active,
.btn-action-dropdown:focus {
	background: #ececec;
	border-radius: 50%;
	outline: none;
}

.btn-outline-red {
	color: #d84531 !important;
	border-color: #d84531;
}

.btn-outline-red:focus,
.btn-outline-red:hover {
	color: #ffffff !important;
	background-color: #d84531;
	border-color: #d84531;
}

.btn-outline-red:focus,
.btn-outline-red:hover {
	color: #ffffff !important;
	background-color: #d84531;
	border-color: #d84531;
}

.btn-outline-green {
	color: #73bf4c !important;
	border-color: #73bf4c;
}

.btn-outline-green:focus,
.btn-outline-green:hover {
	color: #ffffff !important;
	background-color: #73bf4c;
	border-color: #73bf4c;
}

.btn-outline-orange {
	color: #ff7200 !important;
	border-color: #ff7200;
}

.btn-outline-orange:focus,
.btn-outline-orange:hover {
	color: #ffffff !important;
	background-color: #ff7200;
	border-color: #ff7200;
}

.btn-outline-blue {
	color: #137ad1 !important;
	border-color: #137ad1;
}

.btn-outline-blue:focus,
.btn-outline-blue:hover {
	color: #ffffff !important;
	background-color: #137ad1;
	border-color: #137ad1;
}

.label-outline {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.25rem 0.5rem;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 2px;
}

.label-outline-green {
	color: #73bf4c;
	border-color: #73bf4c;
}

.label-outline-orange {
	color: #ff7200;
	border-color: #ff7200;
}

.label-outline-red {
	color: #d84531;
	border-color: #d84531;
}

.label-outline-blue {
	color: #137ad1;
	border-color: #137ad1;
}

.form-control-red-focus:focus {
	background-color: #ffffff;
	border-color: #dc3545;
}

.announcement-container .announcement {
	position: relative;
	padding: 10px 20px;
	text-align: center;
	background: #0078d4;
	color: #ffffff;
}

.announcement-container .announcement a {
	color: #ffffff;
}

.announcement-container .announcement a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.announcement-container .announcement .btn-close-announcement {
	height: 4px;
	width: 4px;
	float: right;
	margin: 8px 0px 0px 0px;
}


.header {
	background: var(--clp-secondary);
	height: 75px;
	border-bottom: 1px solid var(--clp-border);
}


.header .logo {
	padding: 20px 0px 0px 20px;
	margin: 0px 20px 0px 0px;
	border-right: 1px solid var(--clp-border);
	min-width: 235px;
}

.header .navbar-right-container {
	justify-content: space-between;
}


.header .nav-link-container a {
	color: #eee;
	margin: 0px 0px 0px 10px;
	padding: 0px 15px;
	font-weight: 700;
	line-height: 75px;
	font-size: 16px;
}

.header .nav-link-container a:hover {
	color: #0078d4;
}

.header .navbar-right {
	height: 75px;
	padding: 0px 0px 0px 40px;
}

.header .navbar-right > ul {
	display: flex;
	flex-direction: row;
}

.header .navbar-right > ul > li {
	border-left: 1px solid var(--clp-border);
	white-space: nowrap;
	height: 75px;
	line-height: 75px;
}


.header .navbar-right > ul > li > a {
	display: block;
	color: #eee;
	padding: 0px 25px;
}

.header .navbar-right > ul > li.admin-area > a:hover {
	color: #0078d4;
}

.header .navbar-right > ul > li.admin-area > a svg {
	margin: -3px 5px 0px 0px;
}

.header .navbar-right > ul > li.user-avatar > a img {
	border-radius: 50%;
}

.header .navbar-right ul.dropdown-menu {
	top: -10px !important;
	left: -20px !important;
	width: 220px;
}

.header .navbar-right ul.dropdown-menu li {
	line-height: 30px !important;
}

.header .navbar-right > ul.dropdown-menu > li > a.dropdown-item:hover {
	color: #000000 !important;
}

.container-limited-width {
	max-width: 1200px;
}

.page-header {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}


.page-header .page-title h1 {
	font-size: 30px;
	color: #eee;
	font-weight: 600;
	margin: 5px 0px 0px 0px;
}

.page-content .card {
	margin: 0px 0px 30px 0px;
}

.card .alert {
	margin-bottom: 0;
}

.table td,
.table thead th {
	border-bottom: 1px solid var(--clp-border);
}


.table > :not(:last-child) > :last-child > * {
	border-bottom-color: #404040;
}


.table thead th {
	background: var(--clp-secondary);
	color: #eee;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 18px 32px;
	border-top: none;
}

.table tbody td > a:hover {
	color: #0078d4;
	text-decoration: underline;
}

.table-actions > a {
	margin: 0px 0px 0px 10px;
}

.table-actions > a.delete:hover {
	color: #dc3545;
	text-decoration: underline;
}

.color-grey {
	color: #cccccc;
}

.color-dark-purple {
	color: #774aa4;
}

.color-light-grey {
	color: #b4b4b4;
}

.color-light-blue {
	color: #39c;
}

.color-green {
	color: #73bf4c;
}

.color-yellow {
	color: #eec300;
}

.color-orange {
	color: #ff7200;
}

.color-red {
	color: #e15650;
}

.bordered-box {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.tab-container {
	border: 1px solid var(--clp-border);
	background: var(--clp-secondary);
	border-radius:5px;
	margin: 0px 0px 30px 0px;
}

.tab-container ul {
	padding: 0px 20px;
}

.tab-container ul li {
	display: inline-block;
	padding: 20px 0px;
}

.tab-container ul li a {
	padding: 20px 20px;
	color: #eee;
}

.tab-container ul li.active a,
.tab-container ul li.active a:hover {
	color: #fff;
	font-weight:800;
	border-bottom: 3px solid #0078d4;
}

.tab-container ul li a:hover {
	color: #0078d4;
}

.form-control-lg,
.form-select-lg {
	font-size: 1rem;
}

.form-check-input:checked {
	background-color: #267ddd;
	border-color: #267ddd;
}

.form-switch .form-check-input {
	width: 32px;
	height: 20px;
	cursor: pointer;
}

.form-switch .form-check-input:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
	background-position: right center;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
	background-color: #267ddd;
	border-color: #267ddd;
}

.form-switch .form-check-input:checked:focus {
	border: 1px solid #267ddd;
}

.form-switch .form-check-input:focus {
	border: 1px solid #bfbfbf;
}

.form-switch label {
	margin: 1px 0px 0px 0px;
}

label.required:after {
	content: " *";
}

.has-error input,
.has-error textarea,
.has-error select {
	border: 1px solid #ae4241;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #1e2125;
	background-color: #e9ecef;
}

.card {
	box-shadow: 0 2px 4px rgb(157 161 164 / 19%);
}

.card .card-header {
	background: var(--clp-secondary);
	color: #eee;
	display: flex;
	align-items: center;
	padding: 25px;
	font-size: 18px;
	font-weight: 600;
}

.card .card-body {
	padding: 25px;
}

.card .card-body-no-padding {
	padding: 0;
}

.card .card-body-no-padding .table {
	margin-bottom: 0;
	background: var(--clp-secondary);
	color: var(--clp-border);
}


.card .card-body-no-padding .table tr {
	color: #aeaeae !important;
}

.card .card-body-no-padding .table td {
	padding: 18px 32px;
}

.card .card-footer {
	background: var(--clp-secondary);
	padding: 15px;
}

.card .card-body .row {
	margin: 0px 0px 40px 0px;
}

.card .card-body .row:last-child {
	margin: 0px 0px 10px 0px;
}

.card .card-form {
	padding: 20px;
	border-bottom: 1px solid var(--clp-border);
}

.card .card-form .card-form-header {
	font-size: 18px;
	font-weight: 600;
	color: #666666;
}

.card .card-form .row {
	margin: 0px 0px 20px 0px;
}

.card .card-form .card-form-buttons button {
	margin: 0px 20px 0px 0px;
}

.card .edit-form-row {
	padding: 0 !important;
}

a.generate-new-password {
	color: #0078d4;
	font-size: 14px;
}

a.generate-new-password:hover {
	text-decoration: underline;
}

.multi-input-checkbox-container {
	padding: 11px 15px;
	background: #f0f0f0;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	display: flex;
	flex-flow: row wrap;
}

.multi-input-checkbox-container .form-check {
	background: #ffffff;
	padding: 3px 10px;
	line-height: 2;
	margin: 5px 20px 5px 0px;
	border: 1px solid #dadada;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 600;
}

.multi-input-checkbox-container .form-check .form-check-input {
	margin: 8px 10px 0px 0px;
}

.click-to-copy {
	cursor: pointer;
}

.tooltip-inner {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
	padding: 8px 16px;
	box-shadow: 0 2px 4px rgba(157, 161, 164, 0.19);
}

.tooltip.show {
	opacity: 1;
}

.tooltip .tooltip-arrow {
	display: none;
}


.footer {
	background: var(--clp-secondary);
	padding: 10px 0px;
	border-top: 1px solid var(--clp-border);
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 93% / 50%);
	text-align: center;
}


.footer ul li {
	font-size: 14px;
	color: #eee;
	display: inline;
}


.footer ul li a {
	margin: 0px 5px;
	color: #eee;
}

.footer ul li a:hover {
	color: #0078d4;
}

.footer ul li.locale-selector {
	margin: 0px 10px 0px 0px;
}

.footer ul li.locale-selector form {
	display: inline-block;
}

.footer ul li.locale-selector form select {
	font-size: 14px;
}

.footer ul li:first-child:after {
	content: "";
}

.footer ul li:after {
	content: "|";
}

.footer ul li:last-child:after {
	content: "";
}

.footer .btn-update {
	padding: 0px 10px;
	font-size: 11px;
}
